body {
 padding-top:40px;
}
.region-sidebar-first {
 position:absolute;
 left:0;
 top:0;
 width:200px;
 z-index:101;
 margin-left:-220px;
 transition: margin 0.4s;
-webkit-transition: margin 0.4s; /* Safari */
}
.region-sidebar-first:after {
content: '';
display: block;
position: absolute;
top:35%;
right:-25px;
width: 50px;
height: 50px;
background:#f5f5f5;
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
-ms-border-radius: 50px;
border-radius: 50px;
z-index: 105;
}
.region-sidebar-first:before {
content: '';
display: block;
position: absolute;
top:38.7%;
right:-17px;
width: 0px;
height: 0px;
border-color: transparent transparent transparent #313131;
border-width: 7px;
border-style: solid;
z-index:110;
}
.region-sidebar-first:hover:before{
border-color: transparent #313131 transparent transparent;
right:-10px;
}
.region-sidebar-first:hover {
 margin-left:0;
}
.fieldset-wrapper,
.form-wrapper {
 clear:both;
}
.region-sidebar-first .control-group {
 float:left;
}
.region-sidebar-first .form-type-select {
 float:none;
 clear:both;
}
.region-sidebar-first .control-group:first-child {
 margin-right:10px;
}

.span9 {
 width: 100%;
 margin:0;
}
.container {
 width:100%;
}
#leaflet-map {
 width:100%;
 height:auto;
}

.row {
 position:relative;
 margin-left:0;
 height:100%;
}
.leaflet-left {
 left:77.8%;
}

.results-list {
 position:absolute;
 top:0;
 right:0;
 width:250px;
 background:#f5f5f5;
 height:100%;
 padding:5px 0;
}
.results-list ul,
.results-list li {
 margin:0;
 padding:0;
 list-style: none;
 list-style-image: none;
}

.results-list li {
 padding:4px 10px 7px;
 border-bottom:1px #ddd solid;
 border-top:1px #fff solid;
}
.results-list li:hover {
 background: #ddd;
}
.results-list li.first {
 border-top:0;
}
.results-list li.last {
 border-bottom:0;
}

.form-item-offer-type .form-type-radio {
 float:left;
 margin-right:33px;
}
.form-wrapper legend {
 margin-bottom:10px;
 line-height:1.3em;
}
.control-group {
 margin-bottom:5px;
}
